:root {
    --def-color-accent: 100, 20%;
    --def-color-neutral: 0, 0%;
    --def-color-link: 230, 90%;
}

:root {
    --def-space-increment: 0.125rem;                    /*2px */

    --space-2:  calc(1 * var(--def-space-increment));        /*2px */
    --space-4:  calc(2 * var(--def-space-increment));        /*4px */
    --space-8:  calc(4 * var(--def-space-increment));        /*8px */
    --space-12: calc(6 * var(--def-space-increment));        /*12px */
    --space-16: calc(8 * var(--def-space-increment));        /*16px */
    --space-24: calc(12 * var(--def-space-increment));       /*24px */
    --space-32: calc(16 * var(--def-space-increment));       /*32px */
    --space-40: calc(20 * var(--def-space-increment));       /*40px */
    --space-48: calc(24 * var(--def-space-increment));       /*48px */
    --space-64: calc(32 * var(--def-space-increment));       /*64px */
}

:root {
    --border-radius: 3px;
    --elevate-0: 0px 0px var(--space-4) var(--space-4) hsla(var(--def-color-neutral), 30%, 0.25);
}